@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutCopy";
}

<div class="background-image">

</div>
<div class="text-center">
    <h1 class="welcome-message">Bine ai venit pe AIR!</h1>

</div>
